<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puissance 4 en ligne</title>
</head>
<body>
    <h1>Welcome</h1>
    <p><a href="puissance4/">Jouer à mon jeu</a></p>
</body>
</html>