<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirection</title>
    <script type="text/javascript" src="../assets/javascripts/jquery.js"></script>
    <script>window.location.replace('../<%= url %>');</script>
</head>
<body>
</body>
</html>